<div class="container flex">
  <div class="top">
    <h2>Who we are</h2>

    <h2>National People’s PowerAbout NPP</h2>
    <p>
      Welcome to the Jathika Jana Balawegaya (NPP), a dynamic political movement
      comprising 21 diverse groups, including political parties, youth
      organizations, women's groups, trade unions, and civil society
      organizations. Established in 2019, NPP is driven by a shared vision of
      fostering a more progressive Sri Lanka. Our core objectives encompass
      cultivating an uncorrupted, service-oriented, accountable, and transparent
      political culture, promoting economic democracy for fairer wealth
      distribution, strengthening social protections, and championing an
      inclusive, democratic Sri Lankan identity. Our organizational structure,
      from the Steering Committee to District Executive Councils, empowers
      voices at all levels, making NPP a force for positive change in the
      nation. Join us in shaping a brighter future for Sri Lanka.
    </p>
  </div>
  <div class="bottom">
    <h2>L'équipe</h2>
    <p>
      Notre équipe est composée de 4 développeurs juniors, tous issus de la
      formation POEC JAVA. Nous avons tous des profils différents, ce qui nous
      permet de nous compléter et de travailler de manière efficace. Nous sommes
      tous motivés et enthousiastes à l’idée de travailler sur ce projet et de
      le mener à bien.
    </p>

    <div class="cardContainer flex">
      <div class="card">
        <div class="up">
          <img
            class="cardImg"
            src="../../assets/img/defultprofile.jpg"
            alt="member one"
          />
          <h4>first name <br />second name</h4>
        </div>

        <!-- <div class="icons flex">
          <a href="https://www.linkedin.com/in/ammaria-hellou-5ba85414a/">
            <img src="../../assets/img/linkedin.png" alt="linkedin" />
          </a>
          <a href="https://github.com/ammariahl">
            <img src="../../assets/img/github.png" alt="portfolio" />
          </a>
          <a href="mailto:ammariahellou@gmail.com">
            <img src="../../assets/img/email.png" alt="mail" />
          </a>
        </div> -->
      </div>
      <div class="card">
        <div class="up">
          <img
            class="cardImg"
            src="../../assets/img/defultprofile.jpg"
            alt="member 2"
          />
          <h4>first name <br />second name</h4>
        </div>

        <!-- <div class="icons flex">
          <a href="https://www.linkedin.com/in/azraellandres/">
            <img src="../../assets/img/linkedin.png" alt="linkedin" />
          </a>
          <a href="https://github.com/AzraeLandres">
            <img src="../../assets/img/github.png" alt="portfolio" />
          </a>
          <a href="mailto:azraellandres.pro@gmail.com">
            <img src="../../assets/img/email.png" alt="mail" />
          </a>
        </div> -->
      </div>

      <div class="card">
        <div class="up">
          <img
            class="cardImg"
            src="../../assets/img/defultprofile.jpg"
            alt="member three"
          />
          <h4>first name <br />second name</h4>
        </div>
      </div>
      <div class="card">
        <div class="up">
          <img
            class="cardImg"
            src="../../assets/img/defultprofile.jpg"
            alt="member 4"
          />
          <h4>first name <br />second name</h4>
        </div>
      </div>
    </div>
  </div>
</div>
