<div class="container">
  <div *ngIf="event">
    <div class="text_div">
      <h1>{{ event.title }}</h1>
      <p>{{ event.description }}</p>
      <h2>අයුබෝවන්</h2>
    </div>

    <div class="gallery">
      <div
        *ngIf="event?.photos && event.photos.length > 0"
        class="photo-container"
      >
        <div class="photo" *ngFor="let photo of event.photos">
          <img [src]="getImageUrl(photo)" alt="Event photo" />
        </div>
      </div>
    </div>
    <div class="videos">
      <h2>Videos</h2>
      <div *ngIf="event?.videos && event.videos.length > 0">
        <video
          width="320"
          height="240"
          controls
          *ngFor="let video of event.videos"
        >
          <source [src]="getVideoUrl(video)" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>
