<nav id="myFirst" class="flex" style="justify-content: space-evenly">
  <div class="burger" (click)="toggleMenu()">
    <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
  </div>
  <div class="linksContainer menu flex" [class.is-open]="isMenuOpen">
    <a
      routerLink="/home"
      class="menu-item flex houver_effect"
      (click)="toggleIsRandomFalse()"
      >Home
    </a>
    <a
      [routerLink]="['/event']"
      (click)="toggleIsRandomTrue()"
      class="menu-item flex"
      >Events
    </a>

    <a
      [routerLink]="['/contact']"
      (click)="toggleIsRandomFalse()"
      class="menu-item flex"
      >Contact us</a
    >
    <a
      [routerLink]="['/about']"
      (click)="toggleIsRandomFalse()"
      class="menu-item flex"
      >About us</a
    >
    <a
      *ngIf="!isLoggedIn"
      [routerLink]="['/login']"
      (click)="toggleIsRandomFalse()"
      class="menu-item flex"
      >Login</a
    >
    <a
      *ngIf="!isLoggedIn"
      [routerLink]="['/signup']"
      (click)="toggleIsRandomFalse()"
      class="menu-item flex"
      >Signup</a
    >
    <a
      *ngIf="isAdmin"
      [routerLink]="['/addevent']"
      (click)="toggleIsRandomFalse()"
      class="menu-item flex"
      >Add event</a
    >
    <a *ngIf="isLoggedIn" (click)="onLogout()" class="menu-item flex"
      >Log out</a
    >

    <div *ngIf="isLoggedIn">Hello, {{ nickname }}</div>
  </div>
</nav>
