nav {
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c4294a;
  padding: 1rem 2rem;
  height: 86px;
  position: relative;
}

.linksContainer a {
  padding: 0 20px;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.burger {
  padding: 0 10px;
  display: none;
  cursor: pointer;
}
.logi_size {
  width: 116px;
}
i {
  color: var(--black);
  line-height: 60px;
}
.menu-item {
  align-items: center;
  padding: 10px;
}

.menu-item:hover {
  border: 2px solid yellow;
  transform: scale(1.02);
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
  .container_menu {
    flex-direction: column;
  }
  .linksContainer {
    display: none;

    width: 200px;
    position: absolute;
    top: 60px;
    left: 0;
    position: absolute;
    flex-direction: column;
    padding: 19px 12px;
    background-color: #c4294a;
    z-index: 1000;
  }

  .linksContainer.is-open {
    display: flex;
  }

  .menu-item {
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
}
