<div class="event-space-container">
  <h2>Event Space</h2>
  <button class="create-event-btn button teal" (click)="navigateToAddEvent()">
    Create Event
  </button>
  <table class="event-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.id }}</td>
        <td>{{ event.date }}</td>
        <td>{{ event.title }}</td>
        <td>
          <button class="delete-event-btn" (click)="deleteEvent(event.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
