.scrolling-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: #680241;
  height: 40px;
}

.scrolling-text {
  display: inline-block;
  padding-left: 100%;
  /* animation: scroll 10s linear infinite; */
  color: #ffffff;
  animation: scroll 30s linear infinite;
  margin-right: 10px;
  font-size: 1.2em;
}
.item {
  display: inline-block;
  margin-right: 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
