<div class="container flex">
  <div class="top">
    <h2>National People’s PowerAbout NPP</h2>
    <br />
    <br />
    <p>
      At NPP, we're redefining prosperity for Sri Lanka. Our vision is a united
      future where economic growth, social well-being, and environmental
      sustainability go hand in hand. We empower individuals, strengthen
      communities, and champion innovation. Our commitment to education and
      sustainable practices ensures a prosperous tomorrow for all generations.
      Join us in this journey of reshaping the future, where no one is left
      behind, and together, we set new standards for success.
    </p>

    <br />
    <button class="button teal">
      <a
        href="https://www.npp.lk/en/policies"
        target="_blank"
        class="button teal"
        >How we do it</a
      >
    </button>
  </div>
</div>
