.container {
  width: 100%;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.top,
.bottom {
  width: 90%;
}
a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 15rem;
  }
}
