<div class="container" style="margin-top: 50px">
  <div class="box">
    <img src="../../assets/img/economic_democracy.webp" alt="Image 1" />
    <h3>Social Justice</h3>
    <p>
      Our mission centers on social justice. We envision a society where equal
      opportunities yield equitable outcomes. We aim for a world where
      differences in class, ethnicity, religion, language, caste, location, or
      gender don't hinder fulfilling lives and equal participation. Our goal is
      equitable distribution of opportunities, resources, and privileges,
      forging a society of true inclusivity and justice. Through advocacy,
      education, and collaboration, we work tirelessly to dismantle barriers and
      build a brighter, fairer future for all.
    </p>
  </div>
  <div class="box">
    <img src="../../assets/img/economic_democracy.webp" alt="Image 2" />
    <h3>Economic Democracy</h3>
    <p>
      We recognize the widespread struggle to meet basic needs in our society.
      In today's complex world, we understand that people require more than
      essentials – they need secure housing, food, healthcare, education,
      technology access, and leisure. Our definition of a robust economy
      includes supporting such a society, measuring prosperity not only by
      economic growth but by the quality of life for all citizens. Recent events
      underscore the importance of a resilient economy that prioritizes equity
      alongside growth and sustainable development in our policies.
    </p>
  </div>
  <div class="box">
    <img src="../../assets/img/economic_democracy.webp" alt="Image 3" />
    <h3>Solidarity and Cooperation</h3>
    <p>
      We envision a compassionate, cooperative society where individuals
      recognize their rights and responsibilities toward one another. Our goal
      is to build strong communities, fostering belonging, safety, and mutual
      respect, as we believe such values are essential for thriving societies.
      Through education, inclusivity, and collective effort, we strive to create
      a world where everyone has the opportunity to reach their full potential,
      contributing to the well-being of all..
    </p>
  </div>
</div>
