.container {
  width: 100%;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.top,
.bottom {
  width: 90%;
}
a {
  text-decoration: none;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: darkcyan;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 15rem;
  }
}
