<div class="container flex">
  <div class="top">
    <h2>Send Us Your Questions</h2>
    <br />
    <form (ngSubmit)="submitForm(contactForm)" #contactForm="ngForm">
      <div class="form-group">
        <label for="name">Your Name</label>
        <input type="text" id="name" name="name" ngModel required />
      </div>

      <div class="form-group">
        <label for="phone">Your Phone Number</label>
        <input type="tel" id="phone" name="phone" ngModel required />
      </div>

      <div class="form-group">
        <label for="email">Your Email</label>
        <input type="email" id="email" name="email" ngModel required />
      </div>

      <div class="form-group">
        <label for="question">Type Your Question Here</label>
        <textarea
          id="question"
          name="question"
          rows="4"
          ngModel
          required
        ></textarea>
      </div>

      <button type="submit" [disabled]="!contactForm.valid" class="button teal">
        Submit
      </button>
    </form>
  </div>
</div>
